@page "/BookingPage"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs.ItemType
@inject IItemTypeService typeService;
@inject IShelfService shelfService;
@inject IItemService itemService;
<h3>BookingPage</h3>

<h3>BookingPage</h3>
<br>
<div class="card col-6 border border-0">
    <div>
        <div>
            <label>UserId</label>
            <input type="text" class="form-control col-6"@bind="UserId"/>
        </div>
        <div>
            <label>Amount</label>
            <input type="text" class="form-control col-6"@bind="amount"/>
        </div>
        <div>
            <label>ItemTypeId</label>
            <input type="text" class="form-control col-6"@bind="ItemTypeId"/>
        </div>
        <div>
            <label>DimX</label>
            <input type="text" class="form-control col-6"@bind="DimX"/>
        </div>
        <div>
            <label>DimY</label>
            <input type="text" class="form-control col-6"@bind="DimY"/>
        </div>
        <div>
            <label>DimZ</label>
            <input type="text" class="form-control col-6"@bind="DimZ"/>
        </div>
        

    </div>
</div>


@code {
    private string? UserId { get; set; }
    private int? amount { get; set; }
    private int ItemTypeId { get; set; }
    private int? DimX { get; set; }
    private int? DimY { get; set; }
    private int? DimZ { get; set; }
    private string resultMsg { get; set; }

    private async Task Reserve()
    {
        resultMsg = "";

        if (ItemTypeId == null)
        {
            resultMsg = "No Type id was given.";
            return;
        }
        
        if (!typeService.CheckType(new ItemTypeSearchDto(ItemTypeId)))
        {
            resultMsg = "Item type doesn't exist. Do you want to create one?";
            
            
            
        }
    }
    
    
    
}