@page "/"

<h1 class="text-center">Login Page</h1><br/>

<div class="h-100 d-flex align-items-center justify-content-center">
    <form action="/action_page.php">
        <div style="text-align:center">
            <label>UserId</label> <br/>
            <input type="text" class="form-control col-6"@bind="UserId"/>
        </div>
        <div style="text-align:center">
            <label>Password</label> <br/>
            <input type="text" class="form-control col-6"@bind="Password"/>
        </div>
        <br/>

        <div class="h-100 d-flex align-items-center justify-content-center">
            <button type="button" style="text-align:center">Login</button>
        </div>
    </form>
</div>


@code
{

    private int? UserId;
    private int? Password;

}