@page "/"

<h1 class="text-center">Login Page</h1>

<div class="text-center">
    <form action="/action_page.php">
        <label>UserId</label> <br/>
        <input type="text" class="form-control col-6"@bind="UserId"/>

        <label>Password</label> <br/>
        <input type="text" class="form-control col-6"@bind="Password"/>

        <button type="button">Login</button>
    </form>
</div>


@code
{

    private int? UserId;
    private int? Password;

}