
<label class="Amount-Container">
    <input 
        type="number"
        @onchange="@(arg => OnChange.InvokeAsync((int)arg.Value!))"
    />
    <span></span>
</label>
@code {
    [Parameter]
    public int Amount { get; set; }
    
    [Parameter]
    public EventCallback<int> OnChange { get; set; }
}