@page "/DeleteItem"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs.Item

@inject IItemService Service;

<h3>DeleteItem</h3>

<table>
    <tr>
        
        <td class="border-1 text-center fw-bold">
            <label >Vare Id: </label>
        </td>
        <td>
            <input type="text" class ="form-control col-6" @bind="_uniqevareNummer"/>
        </td>
    </tr>
    <tr>
        <button type="button" name="klik" onclick="@Delete()">klik</button>
    </tr>
</table>



@code {
    int _uniqevareNummer=0;

    private async Task Delete()
    {
        try
        {
            await Service.DeleItemAsync(new ItemSearchDto(_uniqevareNummer));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
    }
    
}